fastapi[all]
types-ujson
types-requests
uvicorn[standard]
pydantic
redis
pymongo
slowapi
fastapi-limiter
python-multipart
bcrypt
pytest
pytest-asyncio
fastapi
mongomock
httpx
types-redis
aiortc
numpy
mypy
opuslib